<a class="page-link" href="https://t.me/{{site.author.telegram}}">
  Join my Telegram channel!
</a>
<a id="search-link"
   class="{% if page.url == '/search' %} active{% endif %}"
   title="Search" aria-label="Tags"
                  href="{{ site.baseurl }}/search">
  Search
</a>
<a class="page-link {% if page.url == site.sidebar_blog_link %} active{% endif %}"
   href="https://github.com/{{site.author.github}}">Fork me on Github</a>
<a class="page-link {% if page.url == site.sidebar_blog_link %} active{% endif %}"
   href="https://twitter.com/{{site.author.github}}">@-me on Twitter</a>
<a class="page-link {% if page.url == site.sidebar_blog_link %} active{% endif %}"
   href="{{site.base_url}}/feed.xml">Subscribe to my feed</a>
