<div id="sidebar">
  <header>
    <{% if page.layout == "index" %}h1{% else %}div{% endif %} class="site-title">
      <a href="{{ site.baseurl }}/">
        {% unless page.url == "/" %}
          <span class="back-arrow icon">{% include svg/back-arrow.svg %}</span>
        {% endunless %}
        {{ site.title }}
      </a>
    </{% if page.layout == "index" %}h1{% else %}div{% endif %}>
    <p class='description'>
      Backend engineer, interested in Ruby, Go, microservices, building
      resilient architectures and solving challenges at scale. I coach
      at <a href="http://railsgirls.com/amsterdam">Rails Girls in Amsterdam</a>,
      maintain a list of <a href="https://rubygems.org/profiles/fteem">small gems</a>
      and often <a href="https://github.com/fteem">contribute</a> to Open Source.
      <br/>
      This is where I write about software development, programming languages
      and everything else that interests me.
    </p>
  </header>
  {% include sidebar-nav-links.html %}

  {% include sidebar-icon-links.html %}
  {% include copyright.html %}
</div>
