<div id="sidebar">
  <header>
    <{% if page.layout == "index" %}h1{% else %}div{% endif %} class="site-title">
      <a href="{{ site.baseurl }}/">
        {% unless page.url == "/" %}
          <span class="back-arrow icon">{% include svg/back-arrow.svg %}</span>
        {% endunless %}
        {{ site.title }}
      </a>
    </{% if page.layout == "index" %}h1{% else %}div{% endif %}>
    <p class='description'>
      Backend engineer, springboot, java, js,
      <a href="https://github.com/dihardmg">contribute</a> dan menyukai Open Source.
      <br/>
      saya menulis tentang  curhatan, dan pengalaman seputar dunia software engineering,
      dan semua hal lain yang menarik bagi saya.
    </p>
  </header>
  {% include sidebar-nav-links.html %}

  {% include sidebar-icon-links.html %}
  {% include copyright.html %}
</div>
